.kommando-card {
  margin-bottom: 0px;
}

.style1foroverlay {
  padding-left: 0px;
  padding-right: 0px;
}

.style2foroverlay {
  margin-top: -2.5px;
  margin-bottom: -2.5px;
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.teamsectionstyle {
  background-image: url(../images/AA_Manschaftsfoto_DNI_9122.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}



.counter-section i {
  display: block;
  margin: 0 0 10px
}

.counter-section span.counter {
  font-size: 40px;
  color: #fff;
  line-height: 60px;
  display: block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px
}

.counter-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase
}

.counter-icon {
  top: 25px;
  position: relative
}

.counter-style2 .counter-title {
  letter-spacing: 0.55px;
  float: left;
}

.counter-style2 span.counter {
  letter-spacing: 0.55px;
  float: left;
  margin-right: 10px;
}

.counter-style2 i {
  float: right;
  line-height: 26px;
  margin: 0 10px 0 0
}

.counter-subheadline span {
  float: right;
}

.medium-icon {
  font-size: 40px !important;
  margin-bottom: 15px !important;
}


.post-thumb img {
  max-width: 100%;
  height: 262.47px;
  border-radius: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 15px;
}






/*

Single Post
*/

.stylePostAuthorAndDate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}


.post-meta {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-author a,
.post-date a,
.post-favourite a,
.post-comments a,
.post-share a {
  color: #b5aec4;
  font-size: 14px;
}

.post-author a:hover,
.post-date a:hover,
.post-favourite a:hover,
.post-comments a:hover,
.post-share a:hover {
  color: #000;
}

.post-favourite a,
.post-comments a {
  margin-right: 15px;
}

.post-author a {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.post-author a:after {
  width: 2px;
  height: 60%;
  content: '';
  position: absolute;
  top: 20%;
  right: -14px;
  z-index: 2;
  background-color: #b5aec4;
}

.single-post {
  margin-bottom: 30px;
}

.single-post h2,
.single-post h4 {
  margin: 10px 0;
  color: #232d37;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single-post h2:hover,
.single-post h4:hover {
  color: #fc6c3f;
}

.single-post p {
  color: #51545f;
}

.single-post .read-more {
  font-size: 12px;
  color: #b5aeba;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  height: 40px;
  min-width: 170px;
  line-height: 40px;
  text-align: center;
}


.single-post .read-more:hover {
  color: #000;
  border: 1px solid #000;
}

/* List Blog Area CSS */

.list-blog.single-post .post-thumb,
.list-blog.single-post .post-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 15px;
}

.list-blog.single-post .post-content {
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 30px;
}

.list-blog.single-post {
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.blog_area .col-12:last-of-type .list-blog.single-post {
  margin-bottom: 0;
  border-bottom: none;
}

.blog_area .col-12:last-of-type .list-blog.single-post .post-thumb img {
  margin-bottom: 0;
}


.post-headlineh4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #232d37;
  line-height: 1.25;
  font-size: 1.5rem;
}