.kommando-card {
  margin-bottom: 0px;
}

.style1foroverlay {
  padding-left: 0px;
  padding-right: 0px;
}

.style2foroverlay {
  margin-top: -2.5px;
  margin-bottom: -2.5px;
  margin-left: -2.5px;
  margin-right: -2.5px;
}